<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>File Uploader</h1>
    <% if (locals.currentUser) { %>
    <p>Welcome back!</p>
    <a href="/upload">Upload</a>
    <a href="/logout" style="margin-left: 10px">Log out</a>
    <% } else { %>
    <p>You must be logged in to upload files.</p>
    <a href="/login">Log in</a>
    <a href="/register" style="margin-left: 10px">Register</a>
    <% } %>
  </body>
</html>
