<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload file</title>
  </head>
  <body>
    <h1>Upload file</h1>
    <% if (locals.currentUser) { %> <% if (locals.message) { %>
    <p><%= locals.message %></p>
    <% } %>
    <form
      action="/my-folders/<%= locals.folderId %>/add"
      method="post"
      enctype="multipart/form-data"
      style="margin-bottom: 40px"
    >
      <div class="form-row">
        <label for="file">File: </label>
        <input type="file" name="file" id="file" />
      </div>
      <button type="submit" style="margin-top: 30px">Upload</button>
    </form>
    <a href="/my-folders/<%= locals.folderId %>/">Back to my folders</a>
    <% } else { %>
    <p>
      You must <a href="/register">register</a> and/or
      <a href="/login">log in</a> to upload a file to a folder.
    </p>
    <% } %>
  </body>
</html>
